// 
// About
// 

.dash-content {
    padding-top: 4rem;

    p {
        text-align: left;
        opacity: 0.8;
    }

    img {
        box-shadow: -0.5rem 0.5rem 1rem rgb(0, 0, 0, 0.5);
    }

    .center {
        width: 20%;
        margin: 0 auto;
    }
}